* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    font-family: 'Poppins', sans-serif;
}

.cotnainer {
    width: 96%;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 20px;
}

.img-container>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-container {
    flex: 0 0 35%;
    padding-left: 50px;
    padding-right: 30px;
    height: auto;
}

.textContainer {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-left: 3px solid rgb(122, 183, 48);
    padding-left: 50px;
    background: #f3f3f3;
    padding-right: 50px;
}

.heading>h1 {
    font-size: 3.4rem;
    text-transform: uppercase;
    font-weight: 600;
    padding-bottom: 30px;
}

.heading>p {
    color: rgb(122, 183, 48);
    text-transform: uppercase;
    padding-top: 40px;

}

.textContainer>p:nth-of-type(1) {
    text-align: center;
    font-weight: 500;
    opacity: 0.8;
    font-size: 1rem;
}

.buttons {
    display: flex;
    flex-direction: row;
    text-align: center;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
}

.buttons>a {
    flex: 0 0 50%;
    /* background: #f3f3f3; */
}

.buttons>a:nth-of-type(1) {
    background: rgb(122, 183, 48);
    padding-top: 7px;
    padding-bottom: 7px;
    color: #FFF;
    /* margin-left: 30px; */
}


.buttons>a:nth-of-type(2) {
    color: rgb(122, 183, 48);
    background: transparent;
}



.button-box{
    background: #f3f3f3;
    padding: 30px;
}

.button-box > p {
    margin-top: 15px;
    opacity: 0.7;
    font-size: 1rem;
}

