@media (max-width: 600px) {

    .home-link,
    .home-link1,
    .home-link2 {
        margin-right: 15px;
    }

    .home-link {
        padding-left: 40px;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card,
    .home-feature-card1,
    .home-feature-card2 {
        width: 100%;
    }

    .home-stats {
        padding-top: 1100px;
        display: flex;
        flex-direction: column;
    }

    .home-hero {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .home-image1 {
        width: 100%;
    }

    .home-hero-text-container {
        margin-left: 0;
        width: 100%;
    }

    .home-cta-btn2 {
        width: 40%;
        margin: 0 auto;
    }

    .home-image2,
    .home-image3,
    .home-image4 {
        width: 400px;
        height: 300px;
    }
}